/* Tags Gerais */
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #ffffff;
}
img{
    max-width: 100%;
}
a.img{
    border: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
button{
    cursor: pointer;
}

/* Padrões de Cores */
:root{
    --color-red: #de0c11;
    --color-red-dark: #f70e13;

    --color-blue: #235580;
    --color-blue-dark: #09316f;

    --color-green: #2e9b50;
    --color-green-dark: #247c40;

    --color-white: #ffffff;
    --color-white-dark: #eeeeee;

    --color-yellow: #fafa61;
    --color-dark: #555555;
    
    --color-orange: #ff5e10;
    --color-orange-dark: #cc4b0c;

    --color-gray: #b0acac;
    --color-gray-dark: #8c8989;
}

/* Classes Gerais */
.clear{
    clear: both;
}
.text-margin{
    margin: 0 30px;
}
.radius{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Planos de Fundos - Cores */
.bgcolor-red{
    background-color: var(--color-red);
}
.bgcolor-red-dark{
    background-color: var(--color-red-dark);
}
.bgcolor-blue{
    background-color: var(--color-blue);
}
.bgcolor-blue-dark{
    background-color: var(--color-blue-dark);
}
.bgcolor-green{
    background-color: var(--color-green);
}
.bgcolor-green-dark{
    background-color: var(--color-green-dark);
}
.bgcolor-white{
    background-color: var(--color-white);
}
.bgcolor-white-dark{
    background-color: var(--color-white-dark);
}
.bgcolor-yellow{
    background-color: var(--color-yellow);
}
.bgcolor-gray{
    background-color: var(--color-gray);
}
.bgcolor-gray-dark{
    background-color: var(--color-gray-dark);
}

/* Cores das Fontes */
.color-red{
    color: var(--color-red);
}
.color-red-dark{
    color: var(--color-red-dark);
}
.color-blue{
    color: var(--color-blue);
}
.color-blue-dark{
    color: var(--color-blue-dark);
}
.color-green{
    color: var(--color-green);
}
.color-green-dark{
    color: var(--color-green-dark);
}
.color-white{
    color: var(--color-white);
}
.color-white-dark{
    color: var(--color-white-dark);
}
.color-yellow{
    color: var(--color-yellow);
}
.color-gray{
    color: var(--color-gray);
}
.color-gray-dark{
    color: var(--color-gray-dark);
}

/* Tamanho  da Fonte */
.font-text-sub{
    font-size: 0.8em;
}
.font-text-min{
    font-size: 1em;
}
.font-text-medium{
    font-size: 1.2em;
}
.font-text-medium-extra{
    font-size: 1.5em;
}
.font-text-max{
    font-size: 2em;
}

@media(max-width: 900px){
    .font-text-max{
        font-size: 1.8em;
    }
}
@media(max-width: 600px){
    .font-text-sub{
        font-size: 0.7em;
    }
    .font-text-min{
        font-size: 0.9em;
    }
    .font-text-medium{
        font-size: 1em;
    }
    .font-text-medium-extra{
        font-size: 1.2em;
    }
    .font-text-max{
        font-size: 1.6em;
    }
}

/* Estilo da Fonte */
.font-weight-min{
    font-weight: 300;
}
.font-weight-medium{
    font-weight: 600;
}
.font-weight-max{
    font-weight: 900;
}

/* Alinhamento de Texto */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}

@media(max-width: 600px){
    .text-left{
        text-align: center;
    }
    .text-right{
        text-align: center;
    }
    .text-justify{
        text-align: center;
    }
}

/* Botões e Cores */
.btn_edit{
    padding: 1% 2%;
    color: var(--color-white);
    background-color: var(--color-green);
}
.btn_new{
    padding: 1% 2%;
    color: var(--color-white);
    background-color: var(--color-blue);
}
.btn_delete{
    padding: 1% 2%;
    color: var(--color-white);
    background-color: var(--color-red);
}
.btn_search{
    padding: 1% 2%;
    color: var(--color-white);
    background-color: var(--color-orange);
}
.btn_off{
    padding: 1% 2%;
    color: var(--color-white);
    background-color: var(--color-gray);
}
.btn_pager{
    padding: 1% 2%;
    color: var(--color-white);
    background-color: var(--color-green-dark);
}

.btn_edit:hover{
    background-color: var(--color-green-dark);
}
.btn_new:hover{
    background-color: var(--color-blue-dark);
}
.btn_delete:hover{
    background-color: var(--color-red-dark);
}
.btn_search:hover{
    background-color: var(--color-orange-dark);
}
.btn_off:hover{
    background-color: var(--color-gray-dark);
}
.btn_pager:hover{
    background-color: var(--color-green);
}

/* Flutuação de Elementos */
.divisor1{
    width: 100%;
    margin: 0;
    height: auto;
}
.divisor2{
    width: 48.4%;
    margin: 10px 0 10px 1.1%;
    height: auto;
    float: left;
}
.divisor3{
    width: 31.9%;
    margin: 10px 0 10px 1.1%;
    height: auto;
    float: left;
}
.divisor4{
    width: 23.8%;
    margin: 10px 0 10px 1.1%;
    height: auto;
    float: left;
}

@media(max-width: 30em){
    .divisor2, .divisor3, .divisor4{
        width: 96%;
        margin: 10px 2%;
    }
}
@media(max-width: 30em) and (max-width: 48em){
    .divisor2, .divisor3{
        width: 96%;
        margin: 10px 2%;
    }
    .divisor4{
        width: 48.4%;
        margin: 10px 0 10px 1.1%;
    }
}
/* @media(max-width: 48em) and (max-width: 80em){
    .divisor4{
        width: 48.4%;
        margin: 10px 2%;
    }
} */

/* Mensagens Dinamicas */
.alert-error{
    padding: 10px 20px  ;
    color: var(--color-white);
    background-color: var(--color-red);
    text-align: center;
}
.alert-success{
    padding: 10px 20px  ;
    color: var(--color-white);
    background-color: var(--color-green);
    text-align: center;
}
.alert-info{
    padding: 10px 20px  ;
    color: var(--color-white);
    background-color: var(--color-blue);
    text-align: center;
}
.alert-warning{
    padding: 10px 20px  ;
    color: var(--color-white);
    background-color: var(--color-orange);
    text-align: center;
}
.status-error{
    background-color: var(--color-red);
}
.status-success{
    background-color: var(--color-green);
}
.status-info{
    background-color: var(--color-blue);
}
.status-warning{
    background-color: var(--color-orange);
}
#status_container{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: fixed;
    z-index: 900;
    pointer-events: none;
}
.status_title{
    font-weight: 700;
}
.status-message{
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.status-message a, .status-message label{
    color: #fff;
}
.status-message a:hover{
    color: #ccc;
    text-decoration: none;
}
.status-close-button{
    position: relative;
    right: 3em;
    top: 3em;
    float: right;
    font-size: 20px;
    color: var(--color-white);
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 8;
    -ms-filter:progid: DXimageTransform.Microsoft.Alpha(Opacity=70);
    filter: alpha(opacity=70);
    line-height: 1;
}
.rtl .statjs-close-button{
    left: 3em;
    float: left;
    right: 3em;
}
button.status-close-button{
    padding: 0;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
}
.status-top-right{
    top: 12px;
    right: 12px;
}
#status_container>div{
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 15px;
    width: 350px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    color: var(--color-white);
    opacity: 1.0;
    -ms-filter: progid: DXimageTransform.Microsoft.Alpha(Opacity=70);
    filter: alpha(opacity=70);
}

/* Modais */
.modal{
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(142, 142, 142, 0.8);
    display: none;
}
.modal .modal_container{
    width: 60%;
    margin:auto 20%;
    background-color: var(--color-white);
    position: relative;
    max-width: 96%;
    overflow: hidden;
    display: flex;
}
.open_modal{
    width: 100%;
    /* height: 100%; */
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(142, 142, 142, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.open_modal .open_container{
    width: 60%;
    margin: 78px 20%;
    background-color: var(--color-white);
    position: relative;
    max-width: 96%;
    overflow: hidden;
}

@media(max-width: 720px){
    .open_modal .open_container{
        width: 90%;
        margin: 0 5%;
        top: 60px;
    }
    .open_container .modal_container_close{
        right: 4%;
    }
}

/* Paginação */
.paginator{
    width: 100%;
    margin: 10px;
    padding: 10px 20px !important;
}
.paginator .pagination_link{
    padding: 10px 20px;
    color: #333;
}
.paginator .pagination_link:hover{
    background-color: #2e9b50;
    color: var(--color-white);
}
.paginator .pagination{
    background-color: #1c6333;
    color: var(--color-white);
}

/* Carregamento de Página */
.loading{
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}
.loading img{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}