/* Container Main */
.container_main{
    margin: 0;
    width: 100%;
    height: auto
}
.container_main .container_controller{
    margin: 30px 10%;
    width: 80%;
    height: auto
}

/* Container Top */
.container_top{
    margin: 30px 0;
    width: 100%;
    height: auto;
}
.container_top .container_top_info{
    margin-top: 30px 0;
    width: 100%;
    height: auto;
    border: 1px solid #eeeeee;
}
.container_top h1{ 
    margin: 50px 0 20px 20px;
}
.container_top .container_top_info li{
    /* display: inline-block; */
    float: left;
    padding: 10px 20px;
    width: 22.6%;
    margin: 20px 1.2%;
    background-color: #eeeeee;
}
.container_top .container_top_info .caroussel li{
    /* display: inline-block; */
    float: left;
    padding: 10px 20px;
    width: 47.5%;
    margin: 20px 1.2%;
    background-color: #eeeeee
}
.container_top .container_top_info .caroussel li .price_discount{
    padding: 5px 5px;
    font-size: 0.7em;
    background-color: #6f7882;
    color: #ffffff;
    margin-top: -10px;
    margin-left: -7px;
    position: absolute;
}
.container_top .container_top_info .caroussel li h2{
    padding: 10px 10px;
}
.container_top .container_top_info .caroussel li p{
    padding: 10px 10px;
}
.container_top .container_top_info .caroussel li a{
    padding: 10px 20px;
    margin: 0 5px;
}
.container_top .container_top_info .caroussel li .price_off{
    margin: 5px 10px;
}
.container_top .container_top_info .caroussel li .price_old{
    margin: 5px 0;
}

/* Banners */
.container_banner{
    width: 100%;
    height: auto;
    margin: 0;
}
.container_banner img{
    margin: 0;
    width: 100%;
    height: auto;
}
.container_banner .div_banner{
    float: left;
    padding: 10px 0;
    width: 49%;
    margin: 0 2% 0 0;
}
.container_banner .div_banner:nth-of-type(2n+0){
    margin-right: 0;
}
.divisor1 .img-medium-banner{
    width: 100% !important;
    margin: 0;
}

/* Páginas de Venda - Detalhes do Produto */
.container_controller .container_details .paragraph_navigator{
    width: 80%;
    padding: 10px 10px;
    margin: 10px 30px;
    font-size: 0.8em;
    color: #fff;
}
.container_controller .container_details .paragraph_navigator a{
    color: #fff;
}
.container_details .details_paragraph{
    margin: 10px 0 2px 0;
    color: #333;
    font-size: 0.8em;
}
.container_details .price_discount{
    padding: 5px 5px;
    font-size: 0.7em;
    background-color: #6f7882;
    color: #fff;
    margin-top: -10px;
    margin-left: -7px;
    position: absolute;
}
.container_details .tags{
    display: inline-block;
    margin-top: 10px;
}
.container_details .tp_color_gray{
    background-color: #6f7882;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.container_details .tp_color_blue{
    background-color: #0077aa;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.container_details .tp_color_red{
    background-color: #d4383a;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.container_details .tp_color_green{
    background-color: #247c40;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.container_details .tp_color_white{
    background-color: #eeeeee;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.container_details .container_actions{
    padding: 10px 0;
    margin: 20px 0;
}
.container_details .img-small img{
    border: 1px solid #eee;
    cursor: pointer;
}
.container_details input[type=number]{
    background-color: #eee;
    padding: 5px 10px;
    margin: 10px 5px 10px 0;
    color: #666;
    font-size: 0.8em;
    width: 70px;
    text-align: center;
}
.container_details button{
    padding: 5px 10px;
    margin: 10px 5px 10px 0;
    font-size: 0.8em;
    text-align: center;
}
.container_description{
    padding: 8px 0;
    margin-top: 50px;
    background-color: #fff;
    font-size: 0.9em;
    color: #333;
}
.container_description .tabs{
    padding: 8px 16px;
    background-color: #eee;
    color: #333;
}
.container_description .tabs a{
    padding: 5px 10px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}
.container_description .tabs a:hover{
    background-color: #fff;
}
.container_description .tabs .active{
    padding: 5px 10px;
    color: #56a700;
}
.container_description p{
    margin : 10px 0;
}
.container_description .description_paragraph{
    margin: 10px 0;
    padding: 10px 0;
    display: block;
}
.container_description .description_chars{
    margin: 10px 0;
    padding: 10px 0;
    display: none;
}
.container_description .description_commentary{
    margin: 10px 0;
    padding: 10px 0;
    display: block;
}
.container_description .comment{
    margin: 10px 0;
    padding: 10px 0;
    display: block;
}
.container_description .comment textarea{
    background-color: #eee;
    padding: 10px 20px;
    margin : 10px 0;
    color: #666;
    font-size: 0.875em;
    width: 100%;
    height: 240px;
}

/* Página Carrinho de Compras/Pedidos */
.container .container_cart{
    width: 100%;
    height: auto;
    margin: 20px 0;
}
.container_cart .table{
    width: 100%;
    margin: 10px 0;
}
.container_cart .table .td_plus{
    width: 30%;
    font-size: 0.9em;
}
.container_cart .table .td_minus{
    width: 10%;
    font-size: 0.9em;
}
.container_cart .table .td_sub{
    width: 7%;
    font-size: 0.9em;
}
.container_cart .table img{
    width: 100%;
    font-size: 0.9em;
}
.container_cart .table td input[type=number]{
    width: 70%;
    font-size: 0.9em;
    padding: 10px 10px;
    text-align: center;
    margin: 0 15%;
}
.container_cart .table td input[type=text]{
    width: 180px;
    font-size: 0.9em;
    padding: 8px 10px;
    text-align: center;
}
.container_cart .table td a{
    padding: 8px 16px;
}

/*Responsividade*/
@media(max-width: 1200px){
    table th, table td{
        font-size: 0.9em;
    }
    .container_cart{
        overflow-x: scroll;
    }
    .container_cart .table a{
        padding: 5px 10px;
    }
    .container_cart .table td input[type=number]{
        width: 100%;
        font-size: 0.9em;
        padding: 6px 6px;
        text-align: center;
        margin: 0;
    }
}
@media(max-width: 930px){
    .container_top .container_top_info li{
        width: 47.5%;
    }
    .container_top .container_top_info .caroussel li{
        display: block;
        padding: 10px 20px;
        width: 90%;
        margin: 20px 5%;
        background-color: #eeeeee;
    }
    .container_top .container_top_info .caroussel li h2{
        text-align: center !important;
    }
    .container_top .container_top_info .caroussel li p{
        text-align: center !important;
    }
    .container_top .container_top_info .caroussel li .price_old{
        text-align: center !important;
    }
    .container_top .container_top_info .caroussel li .price_off{
        text-align: center !important;
    }
}
@media(max-width: 800px){
    .container_banner .div_banner{
        display: block;
        clear: both;
        padding: 10px 0;
        width: 100%;
        margin: 0;
    }
    .none{
        display: none;
    }
    .container_description .tabs a{
        display: block;
    }
    .container_actions{
        width: 90%;
        margin: 20px 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 840px){
    .container_cart .table{
        width: 840px;
    }
    .container_cart .table .td_sub{
        width: 16%;
        font-size: 0.8em;
    }
}
@media(max-width: 720px){
    .container_cart .table td{
        width: 80px;
        font: 0.8em;
    }
    .container_cart .table td p, .container_cart .table td h2{
        font-size: 0.875em;
        text-align: center;
    }
    .container_cart .table td input[type=number]{
        width: 100%;
        font-size: 0.9em;
        padding: 6px 6px;
        text-align: center;
    }
}