/* Container Main */
.container_main{
    margin: 0;
    width: 100%;
    height: auto
}
.container_main .container_controller{
    margin: 30px 10%;
    width: 80%;
    height: auto
}

/* Container Top */
.container_top{
    margin: 30px 0;
    width: 100%;
    height: auto;
}
.container_top .container_top_info{
    margin-top: 30px 0;
    width: 100%;
    height: auto;
    border: 1px solid #eeeeee;
}
.container_top h1{ 
    margin: 50px 0 20px 20px;
}
.container_top .container_top_info li{
    /* display: inline-block; */
    float: left;
    padding: 10px 20px;
    width: 22.6%;
    margin: 20px 1.2%;
    background-color: #eeeeee;
}
.container_top .container_top_info .caroussel li{
    /* display: inline-block; */
    float: left;
    padding: 10px 20px;
    width: 47.5%;
    margin: 20px 1.2%;
    background-color: #eeeeee
}
.container_top .container_top_info .caroussel li .price_discount{
    padding: 5px 5px;
    font-size: 0.7em;
    background-color: #6f7882;
    color: #ffffff;
    margin-top: -10px;
    margin-left: -7px;
    position: absolute;
}
.container_top .container_top_info .caroussel li h2{
    padding: 10px 10px;
}
.container_top .container_top_info .caroussel li p{
    padding: 10px 10px;
}
.container_top .container_top_info .caroussel li a{
    padding: 10px 20px;
    margin: 0 5px;
}
.container_top .container_top_info .caroussel li .price_off{
    margin: 5px 10px;
}
.container_top .container_top_info .caroussel li .price_old{
    margin: 5px 0;
}

/* Banners */
.container_banner{
    width: 100%;
    height: auto;
    margin: 0;
}
.container_banner img{
    margin: 0;
    width: 100%;
    height: auto;
}
.container_banner .div_banner{
    float: left;
    padding: 10px 0;
    width: 49%;
    margin: 0 2% 0 0;
}
.container_banner .div_banner:nth-of-type(2n+0){
    margin-right: 0;
}
.divisor1 .img-medium-banner{
    width: 100% !important;
    margin: 0;
}

/* Páginas de Venda - Detalhes do Produto */
.container_controller .container_details .paragraph_navigator{
    width: 80%;
    padding: 10px 10px;
    margin: 10px 30px;
    font-size: 0.8em;
    color: #fff;
}
.container_controller .container_details .paragraph_navigator a{
    color: #fff;
}
.container_details .details_paragraph{
    margin: 10px 0 2px 0;
    color: #333;
    font-size: 0.8em;
}
.container_details .price_discount{
    padding: 5px 5px;
    font-size: 0.7em;
    background-color: #6f7882;
    color: #fff;
    margin-top: -10px;
    margin-left: -7px;
    position: absolute;
}
.container_details .tags{
    display: inline-block;
    margin-top: 10px;
}
.container_details .tp_color_gray{
    background-color: #6f7882;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.container_details .tp_color_blue{
    background-color: #0077aa;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.container_details .tp_color_red{
    background-color: #d4383a;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.container_details .tp_color_green{
    background-color: #247c40;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.container_details .tp_color_white{
    background-color: #eeeeee;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.container_details .container_action{
    padding: 10px 0;
    margin: 20px 0;
}
.container_details .footer_contact{
    margin-top: 10px !important;
}
.container_details .footer_socials{
    padding: 4px 8px;
    margin-right: 5px;
    color: #333;
    background-color: #eee;
}
.container_details .footer_socials:hover{
    background-color: #ccc;
}
.container_details .img-small img{
    border: 1px solid #eee;
    cursor: pointer;
}
.container_details input[type=number]{
    background-color: #eee;
    padding: 5px 10px;
    margin: 10px 5px 10px 0;
    color: #666;
    font-size: 0.8em;
    width: 70px;
    text-align: center;
}
.container_details button{
    padding: 5px 10px;
    margin: 10px 5px 10px 0;
    font-size: 0.8em;
    text-align: center;
}
.container_description{
    padding: 8px 0;
    margin-top: 50px;
    background-color: #fff;
    font-size: 0.9em;
    color: #333;
}
.container_description .tabs{
    padding: 8px 16px;
    background-color: #eee;
    color: #333;
}
.container_description .tabs a{
    padding: 5px 10px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}
.container_description .tabs a:hover{
    background-color: #fff;
}
.container_description .tabs .active{
    padding: 5px 10px;
    color: #56a700;
}
.container_description p{
    margin : 10px 0;
}
.container_description .description_paragraph{
    margin: 10px 0;
    padding: 10px 0;
    display: block;
}
.container_description .description_chars{
    margin: 10px 0;
    padding: 10px 0;
    display: none;
}
.container_description .description_commentary{
    margin: 10px 0;
    padding: 10px 0;
    display: block;
}
.container_description .comment{
    margin: 10px 0;
    padding: 10px 0;
    display: block;
}
.container_description .comment textarea{
    background-color: #eee;
    padding: 10px 20px;
    margin : 10px 0;
    color: #666;
    font-size: 0.875em;
    width: 100%;
    height: 240px;
}

/* Página Carrinho de Compras/Pedidos */
.container .container_cart{
    width: 100%;
    height: auto;
    margin: 20px 0;
}
.container_cart .table{
    width: 100%;
    margin: 10px 0;
}
.container_cart .table .td_plus{
    width: 30%;
    font-size: 0.9em;
}
.container_cart .table .td_minus{
    width: 10%;
    font-size: 0.9em;
}
.container_cart .table .td_sub{
    width: 7%;
    font-size: 0.9em;
}
.container_cart .table img{
    width: 100%;
    font-size: 0.9em;
}
.container_cart .table td input[type=number]{
    width: 70%;
    font-size: 0.9em;
    padding: 10px 10px;
    text-align: center;
    margin: 0 15%;
}
.container_cart .table td input[type=text]{
    width: 180px;
    font-size: 0.9em;
    padding: 8px 10px;
    text-align: center;
}
.container_cart .table td a{
    padding: 8px 16px;
}

/* Login */
.container_main .main_login{
    width: 100%;
    margin: 20px 0;
    border: 1px solid #eee;
}
.main_login h1{
    margin-top: 20px;
}
.main_login label{
    display: block;
    width: 90%;
    margin: 0 5%;
    padding: 8px 0;
}
.main_login input[type=email],
.main_login input[type=text],
.main_login input[type=password]{
    background-color: #eeeeee;
    display: block;
    width: 90%;
    margin: 0 5%;
    padding: 8px 16px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.main_login button{
    display: block;
    margin-left: 8%;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 0.9em;
}
.main_login #btn_register{
    display: block;
    margin-left: 5%;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 0.9em;
}
.main_login #btn_recovery{
    padding: 8px 20px;
    margin-bottom: 10px;
    margin-right: 24px;
}
.main_login #btn_recovery:hover{
    color: #fff;
    background-color: #666;
}
.viewer{
    position: relative;
}
.showHide{
    z-index: 9999;
    position: absolute;
    top: 50%;
    right: 80px;
    cursor: pointer;
}
.fa-eye{
    color: #999;
}

/* Checklist */
.container_controller .new{
    padding: 10px 0;
}
.container_controller .title_checklist{
    text-transform: uppercase;
    color: #666;
}
.container_controller .table .actions{
    margin: 0;
    text-align: left;
}
.container_controller .table .actions a{
    margin: 10px 10px 10px 0;
}

/* Cards */
.card4{
    margin: 10px 1.2% 10px 0;
    width: 24% !important;
    padding: 20px 10px;
}
.card4:nth-of-type(4n+0){
    margin-right: 0;
}
.card4 .actions{
    margin-top: 10px;
}
.card4 a{
    padding: 6px 12px !important;
}

/* Modal Buy */
.open_container .paragraph_navigator{
    width: 80%;
    padding: 10px 10px;
    margin: 10px 30px;
    font-size: 0.8em;
    color: #fff;
}
.open_container .modal_container_close{
    margin-top: -15px !important;
    right: 19% !important;
    position: fixed;
    z-index: 200;
}
.open_container .modal_container_close a{
    padding: 10px 20px !important;
}
.open_container .paragraph_navigator a{
    color: #fff;
}
.open_container .details_paragraph{
    margin: 10px 0 2px 0;
    color: #333;
    font-size: 0.8em;
}
.open_container .price_discount{
    padding: 5px 5px;
    font-size: 0.7em;
    background-color: #6f7882;
    color: #fff;
    margin-top: -10px;
    margin-left: -25px;
    position: fixed;
    z-index: 200;
}
.open_container .tags{
    display: inline-block;
    margin-top: 10px;
}
.open_container .tp_color_gray{
    background-color: #6f7882;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.open_container .tp_color_blue{
    background-color: #0077aa;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.open_container .tp_color_red{
    background-color: #d4383a;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.open_container .tp_color_green{
    background-color: #247c40;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.open_container .tp_color_white{
    background-color: #eeeeee;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 0.8em;
}
.open_container .container_action{
    padding: 10px 0;
    margin: 20px 0;
}
.open_container .footer_contact{
    margin-top: 10px !important;
}
.open_container .footer_socials{
    padding: 4px 8px;
    margin-right: 5px;
    color: #333;
    background-color: #eee;
}
.open_container .footer_socials:hover{
    background-color: #ccc;
}
.open_container .img-small img{
    border: 1px solid #eee;
    cursor: pointer;
}
.open_container input[type=number]{
    background-color: #eee;
    padding: 5px 10px;
    margin: 10px 5px 10px 0;
    color: #666;
    font-size: 0.8em;
    width: 70px;
    text-align: center;
}
.open_container button{
    padding: 5px 10px;
    margin: 10px 5px 10px 0;
    font-size: 0.8em;
    text-align: center;
}
.open_container .tabs{
    padding: 8px 16px;
    background-color: #eee;
    color: #333;
}
.open_container .tabs a{
    padding: 5px 10px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}
.open_container .tabs a:hover{
    background-color: #fff;
}
.open_container .tabs .active{
    padding: 5px 10px;
    color: #56a700;
}
.open_container p{
    margin : 10px 0;
}
.open_container .description_paragraph{
    margin: 10px 0;
    padding: 10px 0;
    display: block;
}
.open_container .description_chars{
    margin: 10px 0;
    padding: 10px 0;
    display: none;
}
.open_container .description_commentary{
    margin: 10px 0;
    padding: 10px 0;
    display: block;
}
.open_container .comment{
    margin: 10px 0;
    padding: 10px 0;
    display: block;
}
.open_container .comment textarea{
    background-color: #eee;
    padding: 10px 20px;
    margin : 10px 0;
    color: #666;
    font-size: 0.875em;
    width: 100%;
    height: 240px;
}

/* Modal Endereço */
.address{
    width: 96%;
    margin: 8px 2%;
}
.address h2{
    margin: 0 8px;
}
.address label{
    display: block;
    margin: 8px 0;
}
.address input[type=text]{
    display: block;
    padding: 8px 16px;
    background-color: #eee;
    width: 100%;
}
.address button{
    display: block;
    padding: 10px 30px !important;
    margin-top: 15px !important;
}

/* Payments */
.payment a{
    padding: 6px 12px !important;
    font-size: 1em;
}
.payment img{
    width: 60%;
    margin: 0 20%;
}
.paymentData img{
    width: 30%;
    margin: 0 35%;
}
.paymentData .title_checklist{
    margin: 10px 8px;
}
.paymentData label{
    display: block;
    margin: 1px 0;
}
.paymentData input[type=text], 
.paymentData input[type=email]{
    display: block;
    padding: 8px 16px;
    background-color: #eee;
    width: 100%;
}
.paymentData select{
    display: block;
    padding: 8px 16px;
    background-color: #eee;
    width: 100%;
}
.paymentData button{
    display: block;
    padding: 10px 30px !important;
    margin-top: 15px !important;
}

/* Página de Obrigado */
.information{
    width: 50%;
    margin: 50px 25%;
    padding: 30px 20px;
}
.information p{
    margin-top: 10px;
}
.information .btnThanks{
    margin-top: 40px !important;
}
.infoScroll{
    overflow-x: hidden !important;
}

/*Responsividade*/
@media(max-width: 1200px){
    table th, table td{
        font-size: 0.9em;
    }
    .container_cart{
        overflow-x: scroll;
    }
    .container_cart .table a{
        padding: 5px 10px;
    }
    .container_cart .table td input[type=number]{
        width: 100%;
        font-size: 0.9em;
        padding: 6px 6px;
        text-align: center;
        margin: 0;
    }
    .showHide{
        right: 50px;
    }
    .result{
        font-family: Nunito, sans-serif;
    }
    .card4{
        width: 48%;
    }
}
@media(max-width: 930px){
    .container_top .container_top_info li{
        width: 47.5%;
    }
    .container_top .container_top_info .caroussel li{
        display: block;
        padding: 10px 20px;
        width: 90%;
        margin: 20px 5%;
        background-color: #eeeeee;
    }
    .container_top .container_top_info .caroussel li h2{
        text-align: center !important;
    }
    .container_top .container_top_info .caroussel li p{
        text-align: center !important;
    }
    .container_top .container_top_info .caroussel li .price_old{
        text-align: center !important;
    }
    .container_top .container_top_info .caroussel li .price_off{
        text-align: center !important;
    }
}
@media(max-width: 840px){
    .container_cart .table{
        width: 840px;
    }
    .container_cart .table .td_sub{
        width: 16%;
        font-size: 0.8em;
    }
}
@media(max-width: 800px){
    .container_banner .div_banner{
        display: block;
        clear: both;
        padding: 10px 0;
        width: 100%;
        margin: 0;
    }
    .none{
        display: none;
    }
    .container_description .tabs a{
        display: block;
    }
    .container_action{
        width: 90%;
        margin: 20px 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_login button{
        width: 94%;
        margin: 10px 3%;
    }
    .showHide{
        right: 40px;
    }
    .main_login #btn_register{
        width: 90%;
        margin: 10px 5% !important;
    }
    .card4{
        width: 98% !important;
        margin: 10px 2% 10px 0;
        display: block;
    }
    .address button{
        width: 100%;
    }
    .open_modal button{
        width: 100%;
        display: block;
    }
    .open_modal img, .payment img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .infoScroll{
        overflow-x: hidden !important;
    }
    .information{
        width: 90%;
        margin: 50px 5%;
        padding: 30px 20px;
        overflow-x: hidden;
    }
}
@media(max-width: 720px){
    .container_cart .table td{
        width: 80px;
        font: 0.8em;
    }
    .container_cart .table td p, .container_cart .table td h2{
        font-size: 0.875em;
        text-align: center;
    }
    .container_cart .table td input[type=number]{
        width: 100%;
        font-size: 0.9em;
        padding: 6px 6px;
        text-align: center;
    }
    .open_container .modal_container_close{
        right: 4% !important;
    }    
    .open_container .modal_container_close a{
        padding: 6px 12px !important;
    }
}
@media(max-width: 640px){
    .showHide{
        right: 40px;
    }
}