/* Container Top */
.container_top{
    margin: 30px 0;
    width: 100%;
    height: auto;
}
.container_top .container_top_info{
    margin-top: 30px 0;
    width: 100%;
    height: auto;
    border: 1px solid #eeeeee;
}
.container_top h1{
    margin: 50px 0 -20px 0;
}
.container_top .container_top_info li{
    display: inline-block;
    float: left;
    padding: 10px 20px;
    width: 22.6%;
    margin: 20px 1.2%;
    background-color: #eeeeee;
}
.container_top .container_top_info .caroussel li{
    display: inline-block;
    float: left;
    padding: 10px 20px;
    width: 47.5%;
    margin: 20px 1.2%;
    background-color: #eeeeee
}
.container_top .container_top_info .caroussel li .price_discount{
    padding: 5px 5px;
    font-size: 0.7em;
    background-color: #6f7882;
    color: #ffffff;
    margin-top: -10px;
    margin-left: -7px;
    position: absolute;
}
.container_top .container_top_info .caroussel li h2{
    padding: 10px 10px;
}
.container_top .container_top_info .caroussel li p{
    padding: 10px 10px;
}
.container_top .container_top_info .caroussel li a{
    padding: 10px 20px;
    margin: 0 5px;
}
.container_top .container_top_info .caroussel li .price_off{
    margin: 5px 10px;
}
.container_top .container_top_info .caroussel li .price_old{
    margin: 5px 0;
}

/*Responsividade*/
@media(max-width: 930px){
    .container_top .container_top_info li{
        width: 47.5%;
    }
    .container_top .container_top_info .caroussel li{
        display: block;
        padding: 10px 20px;
        width: 90%;
        margin: 20px 5%;
        background-color: #eeeeee;
    }
    .container_top .container_top_info .caroussel li h2{
        text-align: center !important;
    }
    .container_top .container_top_info .caroussel li p{
        text-align: center !important;
    }
    .container_top .container_top_info .caroussel li .price_old{
        text-align: center !important;
    }
    .container_top .container_top_info .caroussel li .price_off{
        text-align: center !important;
    }
}